/* Estilos globales */

.principal {
  flex-direction: column;     /* Alinea los elementos verticalmente */
  justify-content: center;    /* Centra verticalmente */
  align-items: center;        /* Centra horizontalmente */

  width: 100%;                /* Ocupa el 100% del ancho */
  margin: 0;                  /* Elimina márgenes */
  padding: 0;                 /* Elimina padding */
  box-sizing: border-box;     /* Incluye padding y borde en el tamaño total */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  h1, h2 {
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contenido {
    margin-left: 20px;
  }
  
  .formulario {
    max-width: 400px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .busqueda-container {
    max-width: 600px;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .busqueda-select, .busqueda-input, .busqueda-boton {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .busqueda-select {
    flex: 1;
  }
  
  .busqueda-input {
    margin-left: 10px;
    width: 250px;

  }
  
  .busqueda-boton {
    flex: 1;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .busqueda-boton:hover {
    background-color: #0056b3;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-group label {
    flex: 1;
    margin-right: 10px;
  }
  
  .form-group input {
    flex: 2;
    padding: 5px;
  }
  
  .info {
    margin-left: 135px;
  }
  
  .checkbox-inline {
    margin-left: 135px;
    background-color: #b2daf1;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .form-group select {
    min-width: 265px;
    min-height: 32px;
  }

  .tabla-container {
    max-height: 222px; /* Control de altura del contenedor, incrementar en pasos de 37px */
    max-width: 1200px; /* Control de anchura del contenedor */
    overflow-y: auto; /* Scroll vertical si hay más de 5 registros */
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 20px;
    position: relative; /* Asegura que el contenedor reciba eventos de puntero */
    z-index: 1;
  }
  
  
  .pagination {
    margin-top: 10px;
    margin-left: 600px;
    justify-content: center;
    gap: 5px;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    cursor: pointer;
  }
  
  .pagination button.active {
    background: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Encabezado */
  thead {
    position: sticky; /* Fija la fila superior */
    top: 0; /* Se adhiere a la parte superior del contenedor */
    z-index: 1; /* Asegura que el encabezado esté por encima del cuerpo */
    background-color: #f1f1f1; /* Fondo del encabezado */
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    cursor: pointer;
  }
  
  table th {
    background-color: #f4f4f4;
  }